/*Code written by Quake #69866.*/
/*---------------Fonts -> Google fonts preferred---------------*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
body {
	background: url('https://wallpapercave.com/wp/wp11284925.jpg');
	background-repeat: repeat;
    background-attachment: fixed;
    background-position: center; 
	background-size: cover;
	font-family: 'Nanum Myeongjo', serif;
	color: #000000;
}
/*---------------Alerts -> Hunting, Forum Notifs---------------*/
.alert {
	background: #AA8D4E;
	border: 1px solid #000000;
	color: #000000;
}
.alert-warning,
.alert-danger {
	background: #D6C283;
	border: 1px solid #000000;
	color: #000000;
}
/*---------------Links---------------*/
a:link,
a:visited {
	color: #000000 !important;
	transition: 0.5s !important;
	text-shadow: 0px 3px 5px rgba(0,0,0,0);
}
/*---------------Link Hovering---------------*/
a:hover {
	color: #ffe9b8 !important;
}
/*---------------Header Color -> King Name/Title, Mutations in Pride---------------*/
.top {
	background: #FBC34D !important;
	color: #000000 !important;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom: 1px solid #000 !important;
}
.bottom {
	background: #FBC34D !important;
	color: #000000 !important;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
.th, .table th {
	border-radius: 25px;
	background: #FBC34D !important;
	color: #000000 !important;
}
/*---------------Den Header---------------*/
h1 {
	color: #000000;
	font-size: 54px;
	text-align: center;
}
/*---------------Medium Header---------------*/

h2 {
	color: #000000;
	font-size: 24px;
	text-align: center;
}
/*---------------Smallest Header---------------*/
h3 {
	color: #000000 !important;
	font-size: 14px !important
}
/*---------------Topbar---------------*/
.topbar {
	background: #F29E1A;
	border: 1px solid #000;
	border-top: none !important;
	color: #000000;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	font-family: 'Nanum Myeongjo', serif;
}
/*---------------Navigation---------------*/
.navbar {
	background: #F29E1A;
	border-bottom: 1px solid #000;
	font-family: 'Nanum Myeongjo', serif;
	color: #000000;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}
/*---------------Navigation text color---------------*/
.navbar li a {
	color: #000000 !important;
}
/*---------------Navigation Hover Color---------------*/
.navbar li a:hover {
	background: rgba(0,0,0,.4) !important;
}
/*---------------Breadcrumb---------------*/
.breadcrumb {
	background: #D6C283;
	border: 1px solid #000000;
}
/*---------------Breadcrumb Text*/
.breadcrumb .active {
	color: #000000;
}
/*---------------Main Background Panel---------------*/
.container.main {
	background: rgba(231, 190, 99,.5);
	border: 1px solid #000000;
	box-shadow: none;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
/* BOXES (Copy paste to add more or less) */

.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex;
}

.Box1 {
	float: left;
	background: #D6C283 !important;
	color: #000000;
	padding: 0px;
	border: 1px solid #000000;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	margin: 0px;
	float: right;
	overflow: auto;
	height: 250px;
	width: 1000px;
	margin-bottom: 0px;
}


.Box2 {
	float: left;
	background: #000000;
	color: #000000;
	padding: 0px;
	border: 1px solid #000000;
	border-radius: 0px;
	margin: 0px;
	height: 250px;
	width: 400px;
	transition: 1s;
	overflow: auto;
}

.Box3 {
	float: left;
	background: #000000;
	color: #000000;
	padding: 0px;
	border: 1px solid #000000;
	border-radius: 0px;
	margin: 0px;
	height: 0px;
	width: 0px;
	transition: 1s;
	overflow: auto;

}

.hoverbox1 {
	float: left;
	background: #000000;
	color: #000000;
	padding: 0px;
	border: 0px solid #000000;
	border-radius: 0px;
	margin: 0px;
	float: right;
	overflow: auto;
	height: 62px;
	width: 250px;
	margin-bottom: 15px;
	transition: 4s;
}

.hoverbox1:hover {
	height: 250px;
	width: 400px;
}

.hoverbox2 {
	float: left;
	background: #efbaf0a8;
    color: #ffffff;
    padding: 0px;
    border: 1px solid #ebcce5;
    border-radius: 19px;
    margin: 7px;
    float: right;
    overflow: auto;
    height: 250px;
    width: 300px;
    margin-bottom: 0px;
	transition: 4s;
}

.hoverbox2:hover {
	height: 250px;
	width: 400px;
}

.hoverbox3 {
	float: left;
	background: #efbaf0a8;
    color: #ffffff;
    padding: 0px;
    border: 1px solid #ebcce5;
    border-radius: 22px;
    margin: 10px;
    float: right;
    overflow: auto;
    height: 243px;
    width: 380px;
    margin-bottom: -6px;
	transition: 4s;
}

.hoverbox3:hover {
	height: 250px;
	width: 600px;
}
/*---------------Right Side Panel---------------*/
.col-md-9 {
	background: none;
}
/*---------------Energy, Achievements, Bookmarks, Chatbox---------------*/
.panel {
	background: #D6C283 !important;
	box-shadow: none !important;
	border: 1px solid #000000 !important;
	color: #000000 !important;
}
/*---------------Energy Bar BG---------------*/
.progress {
	background: #AA8D4E;
	color: #000000 !important;
}
/*---------------Energy Bar Text Color---------------*/
.progress div {
	color: #000000 !important;
}
/*---------------Energy Bar Color---------------*/
.progress-bar {
	background: #FBC34D;
	color: #000000 !important;
}
/*---------------King and Icon Opacity---------------*/
div#lion_image {
	opacity: 1;
}
table#player img {
	opacity: 1;
}
/*---------------Circular King and Icon---------------*/
div#lion_image {
	border-radius: 50% !important;
	overflow: hidden;
	margin-top: 19px;
	margin-left: 6px;
}
table#player img {
	border-radius: 50% !important;
	overflow: hidden;
}
/*---------------King Info Tables --> Level, Stats, Branch, Territory---------------*/
/*---------------Panel BG Color---------------*/
.table {
	background: #D6C283;
	border: 1px solid #000 !important;
	border-collapse: separate;
	border-radius: 25px;
}
/*---------------Color behind level, stats, branch, territory---------------*/
.inner-table .left {
	background: #AA8D4E !important;
	border-radius: 25px;
}

/*---------------Right side color of level, stats, branch, territory---------------*/
.inner-table .right {
	background: #EAD5A5;
	border-radius: 25px;
}
/*---------------Ignore---------------*/
.right_odd {
	background: none !important;
}
/*---------------Caves and Mounds BG color---------------*/
.cave-grid,
.mound-grid {
	background: #AA8D4E;
	border: none !important;
}
/*---------------Dynasty-Showcase---------------*/
.feature,
div.left {
	background: #AA8D4E;
	border: none;
}
/*---------------FAPA---------------*/

.feature {
	background: #AA8D4E !important;
	color: #000000 !important;
	border: none !important;
	border-radius: 5px !important;
}
/*---------------Editing Details and Account Options---------------*/
/*---------------Left side color where territory desc., player, avatar url*/
.table .left {
	background: #886F34;
	border-radius: 25px;
}
/*---------------Input boxes for player name, avatar URl, input buttons (bookmarks)---------------*/
input,
select,
textarea {
	background: #CCB071 !important;
	border: 1px solid #000 !important;
	border-color: black;
	border-radius: 5px;
	box-shadow: none !important;
	color: black !important;
	text-shadow: none !important;
}
/*---------------Account Option Boxes -> friend reqs, toggles---------------*/
.item-header {
	background: #886F34 !important;
	color: #000000  !important;
}
.item {
	background: #AA8D4E !important;
	border: none !important;
}
/*---------------Left corner bottom CSS credit---------------*/
.credit {
	background: #D6C283;
	color: #000000;
	padding: 5px;
	border: 1px solid black;
	position: fixed;
	text-align: center;
	border-radius: 10px;
	left: 0px;
	bottom: 0px;
	width: 185px;
	height: 30px;
	overflow: auto;
}
/*---------------Active/Online Icon---------------*/
.member-online {
    background: #000000;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: inline-block;
}
/*---------------Beetle Mound Topbar---------------*/
.sub_menu {
	background: #000000 !important;
}
.sub_menu_item_selected {
	background: #000000 !important;
}